# BasicTick: Create Cluster: HDB for basictickdb
This notebook will create (start) an HDB cluster on a named basictick database.

In [1]:
%%html
<style>
table {float:left}
</style>

## Setup

### Node Types
|Type|Mem (GB)|vCPUs|
|:---|---:|---:|
|kx.s.large|12|2|
|kx.s.xlarge|27|4|
|kx.s.2xlarge|54|8|
|kx.s.4xlarge|108|16|
|kx.s.8xlarge|216|32|
|kx.s.16xlarge|432|64|
|kx.s.32xlarge|864|128|

In [2]:
import os
import boto3
import json
import datetime

from managed_kx import *
from env2 import *

# Managed KX Database and Cluster names to create
DB_NAME="basictickdb"

SEC_THREADS='8'

BASE_NAME="HDB"
CLUSTER_NAME=f"{BASE_NAME}_{DB_NAME}_20230601"

# Cluster Settings
CODEBASE="basictick"
S3_CODE_PATH="code"

DB_PATHS = [ '/' ]

CAPACITY_CONFIG={ 'nodeCount': 3, 'nodeType': 'kx.s.xlarge'}
DATABASE_CONFIG=[{ 'databaseName': DB_NAME,'cacheConfigurations': [{'dbPaths': DB_PATHS, 'cacheType': 'CACHE_1000' }] }]
CACHE_CONFIG=[{'type': 'CACHE_1000', 'size':1200}]

CODE_CONFIG={ 's3Bucket': S3_BUCKET, 's3Key': f'{S3_CODE_PATH}/{CODEBASE}.zip' }
INIT_SCRIPT=f'{CODEBASE}/hdbmkdb.q'

CMD_ARGS=[
    { 'key': 's', 'value': SEC_THREADS }, 
    { 'key': 'dbname', 'value': DB_NAME}, 
    { 'key': 'codebase', 'value': CODEBASE} 
]

In [3]:
# triggers credential get
session=None

try:
    # aws: use ada for credentials
    subprocess.call(["which", "ada"])
    os.system(f"ada credentials update --account={ACCOUNT_ID} --provider=isengard --role=Admin --once")
except: 
    None

if AWS_ACCESS_KEY_ID is None:
    print("Using Defaults ...")
    # create AWS session: using access variables
    session = boto3.Session()
else:
    print("Using variables ...")
    session = boto3.Session(
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        aws_session_token=AWS_SESSION_TOKEN
    )

# create finspace client
client = session.client(service_name='finspace', endpoint_url=ENDPOINT_URL)

Using variables ...

## Check Database

In [4]:
note_str = ""

try:
    c_set_list = client.list_kx_changesets(environmentId=ENV_ID, databaseName=DB_NAME)['kxChangesets']
except:
    note_str = "<<Could not get changesets>>"

print(100*"=")
print(f"Database: {DB_NAME}, Changesets: {len(c_set_list)} {note_str}")
print(100*"=")

# sort by create time
c_set_list = sorted(c_set_list, key=lambda d: d['createdTimestamp']) 

for c in c_set_list:
    c_set_id = c['changesetId']
    print(f"Changeset ({c['status']}): {c_set_id}: Created: {c['createdTimestamp']}")
    c_rqs = client.get_kx_changeset(environmentId=ENV_ID, databaseName=DB_NAME, changesetId=c_set_id)['changeRequests']

    chs_pdf = pd.DataFrame.from_dict(c_rqs).style.hide(axis='index')
    display(chs_pdf)

====================================================================================================
Database: basictickdb, Changesets: 3
====================================================================================================
Changeset (COMPLETED): ZsQ3eXNny4UaexiXtmEkZg: Created: 2023-05-30 23:22:00.273000+00:00

Changeset (COMPLETED): QsQ3lbQfnmumBgZOeiPIOw: Created: 2023-05-31 00:18:15.744000+00:00

Changeset (COMPLETED): uMQ5qhWLaIRqY97nyAU9cg: Created: 2023-05-31 19:41:15.927000+00:00

# Deploy code

In [5]:
if AWS_ACCESS_KEY_ID is not None:
    cp = f"""
export AWS_ACCESS_KEY_ID={AWS_ACCESS_KEY_ID}
export AWS_SECRET_ACCESS_KEY={AWS_SECRET_ACCESS_KEY}
export AWS_SESSION_TOKEN={AWS_SESSION_TOKEN}

zip -r -X {CODEBASE}.zip {CODEBASE} -x '*.ipynb_checkpoints*'       
aws s3 cp {CODEBASE}.zip s3://{S3_BUCKET}/{S3_CODE_PATH}/{CODEBASE}.zip
aws s3 ls {S3_BUCKET}/{S3_CODE_PATH}/
"""
else:
    cp = f"""
zip -r -X {CODEBASE}.zip {CODEBASE} -x '*.ipynb_checkpoints*'   
aws s3 cp {CODEBASE}.zip s3://{S3_BUCKET}/{S3_CODE_PATH}/{CODEBASE}.zip
aws s3 ls {S3_BUCKET}/{S3_CODE_PATH}/
"""
    
# execute the S3 copy
os.system(cp)

updating: basictick/ (stored 0%)
updating: basictick/tp.q (deflated 52%)
updating: basictick/query.q (deflated 19%)
updating: basictick/loadDep.q (deflated 57%)
updating: basictick/funcDownHandle.q (deflated 33%)
updating: basictick/example.schema.q (deflated 12%)
updating: basictick/tickerplant2 (stored 0%)
updating: basictick/tickerplant3 (stored 0%)
updating: basictick/rdbmkdb.q (deflated 57%)
updating: basictick/hdbmkdb.q (deflated 52%)
updating: basictick/gwmkdbcluster.q (deflated 61%)
updating: basictick/feedmkdb.q (deflated 53%)
updating: basictick/connectmkdb.q (deflated 63%)
upload: ./basictick.zip to s3://kdb-demo-612841383594/code/basictick.zip
2023-06-01 11:25:49   68132277 ManagedKdbInsights-main.zip
2023-06-01 14:17:10      28372 basictick.zip
2023-05-31 15:23:45        757 code.zip
2023-05-31 10:19:36        652 taqcode.zip
2023-05-31 10:24:55        787 welcomedb.zip

0

## Create Cluster

In [6]:
resp = client.create_kx_cluster(
    environmentId=ENV_ID, 
    clusterName=CLUSTER_NAME,
    clusterType='HDB',
    releaseLabel = '1.0',
    capacityConfiguration=CAPACITY_CONFIG,
    databases=DATABASE_CONFIG,
    cacheStorageConfigurations=CACHE_CONFIG,
    clusterDescription="Created with create_HDB for basic_tick notebook",
    code=CODE_CONFIG,
    initializationScript=INIT_SCRIPT,
    commandLineArguments=CMD_ARGS,
    azMode=AZ_MODE,
    availabilityZoneId=AZ_ID,
    vpcConfiguration={ 
        'vpcId': VPC_ID,
        'securityGroupIds': SECURITY_GROUPS,
        'subnetIds': SUBNET_IDS,
        'ipAddressType': 'IP_V4' }
)

In [7]:
resp

{'ResponseMetadata': {'RequestId': '169f7a40-eef5-4a53-8557-8e76f297f719',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/json',
   'content-length': '1141',
   'connection': 'keep-alive',
   'date': 'Thu, 01 Jun 2023 14:17:17 GMT',
   'x-amzn-requestid': '169f7a40-eef5-4a53-8557-8e76f297f719',
   'x-amz-apigw-id': 'F18_-FeIoAMF64A=',
   'x-amzn-trace-id': 'Root=1-6478a865-63dedc0746f546b412fc6c69',
   'x-cache': 'Miss from cloudfront',
   'via': '1.1 0003b3450f3f9fac44312c4622a410c2.cloudfront.net (CloudFront)',
   'x-amz-cf-pop': 'IAD55-P1',
   'x-amz-cf-id': 'e2keNma6S0_Jcaeu8BiF9_EMcPEOwCo7cufwCmwKpXpepLZOOjLGDQ=='},
  'RetryAttempts': 0},
 'status': 'PENDING',
 'clusterName': 'HDB_basictickdb_20230601',
 'clusterType': 'HDB',
 'databases': [{'databaseName': 'basictickdb',
   'cacheConfigurations': [{'cacheType': 'CACHE_1000', 'dbPaths': ['/']}],
   'changesetId': 'uMQ5qhWLaIRqY97nyAU9cg'}],
 'cacheStorageConfigurations': [{'type': 'CACHE_1000', 'size': 1200}],
 'clusterDescription': 'Created with create_HDB for basic_tick notebook',
 'capacityConfiguration': {'nodeType': 'kx.s.xlarge', 'nodeCount': 3},
 'releaseLabel': '1.0',
 'vpcConfiguration': {'vpcId': 'vpc-0e702dec545865b11',
  'securityGroupIds': ['sg-018111774e795682d'],
  'subnetIds': ['subnet-0f97cae6600859c17'],
  'ipAddressType': 'IP_V4'},
 'initializationScript': 'basictick/hdbmkdb.q',
 'commandLineArguments': [{'key': 's', 'value': '8'},
  {'key': 'dbname', 'value': 'basictickdb'},
  {'key': 'codebase', 'value': 'basictick'}],
 'code': {'s3Bucket': 'kdb-demo-612841383594', 's3Key': 'code/basictick.zip'},
 'lastModifiedTimestamp': datetime.datetime(2023, 6, 1, 14, 17, 16, 833000, tzinfo=tzlocal()),
 'azMode': 'SINGLE',
 'availabilityZoneId': 'use1-az4',
 'createdTimestamp': datetime.datetime(2023, 6, 1, 14, 17, 16, 753000, tzinfo=tzlocal())}

In [8]:
wait_for_cluster_status(client, environmentId=ENV_ID, clusterName=CLUSTER_NAME, show_wait=True)
print()
print("** DONE **")

Cluster: HDB_basictickdb_20230601 status is PENDING, total wait 0:00:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:00:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:01:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:01:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:02:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:02:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:03:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:03:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:04:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:04:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:05:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:05:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:06:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:06:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:07:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:07:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:08:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:08:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:09:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:09:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:10:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:10:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:11:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:11:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:12:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:12:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:13:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:13:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:14:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:14:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:15:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:15:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:16:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:16:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:17:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:17:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:18:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:18:30, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is CREATING, total wait 0:19:00, waiting 30 sec ...
Cluster: HDB_basictickdb_20230601 status is now RUNNING, total wait 0:19:30

** DONE **

In [9]:
# Give permissions time to propogate after cluster creation....
time.sleep(30)

In [10]:
conn_str = get_kx_connection_string(client, environmentId=ENV_ID, clusterName=CLUSTER_NAME, userName=KDB_USERNAME, boto_session=session)
print(conn_str)

:tcps://vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIEYkBQsm%2Fo8qACPLwVlX7hTX9PtSjkwQJjDmrrppme7wAiA43o4ZRr%2BUL1bSqyVWc5RT3n6Ig4TkYXHdB53JHWlrSir%2FAgjA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDYxMjg0MTM4MzU5NCIMTjMK2M2d9Uk8wlZWKtMCVYvMpFaJ6s5bDwhd%2BGIpoaVtQsdketMl7b5Wzuj6s7o7USnYNy9zElomZYXdmzh18eGSOb5vLOr6j9MICM1vhM4mVynCC11BAFCQFzl%2B5Fi%2BkzVBv%2FT1InWMYhTHbjE6jrj3lD%2BGT9M5wB%2Fmc8cZR4kHnT0PmwUs14tuU6%2Bee9kkuFnY4Tp1zLEZpZQYQ%2BW9SSvl6GSJdF6AAA25E%2F5j9jbCNqTGovF1THZ3Yi55CDtC%2F79S1lnwsBMBgVxEalB53Ogs8w%2F%2BLdhslpcL7sTrfr9NH2o2fGQr95eOVViYi6BXE%2BTPoY5M2BhIzV7JSpfhshoAHJ6XVKgVJAsYkA94vEm0bWncV9k4bT0d8bR4xiXoR7MA0mN4B%2FKUO8sa8HKnrAbaBvYjDyAkFtNcdpszGSBB99G1uMwRVr5uYoQHsPnF6OAssQbjE9Eu%2BbQEuOAPYPEFMK3a4qMGOsABorViHWe9Km8%2BSylFrVwhNwEt%2FBbVzfVbIGXYxkLhds%2FMbB7QcH4GzV8W0T4lDU0RmgP3IdWF%2F%2FYHm1EiH3WSOWWURVXEHG%2F%2FzD7AtRoMMaTfUzzJRY%2FoiArFzfAmjQgyK6qUBtLE2KzNjlP4fKnoOiW2gxX3T3QPNXluxaO5ps%2B5aRaQXIvgdMFg%2BaFf%2BmnL42VMz%2BLRI2cfbDLBDpV4HHMlbNUCqImrl1QQWGAzQp85DSXi1%2Fx85YJLYxFwRcIV&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T143733Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VGVXC5HML%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=be56f7dc731f20b2fe461fe15f77ee8393e34bf92ac72dfc47d33a45f35f8436

In [11]:
cdf = get_clusters(client, ENV_ID)

display(cdf)

In [12]:
print( f"Last Run: {datetime.datetime.now()}" )

Last Run: 2023-06-01 14:37:36.771394