# BasicTick: Create EOD Changeset
This notebook will create and add a changeset to an existing database using data collected in an RDB from a subscription to a Ticker Plant (TP).

**Stop the Feed Handler Before Starting**

This notebook will do the following:
1. Connect to RDB that has been subscribe to TP
2. Save contents of RDB to files
3. Create changeset to database from saved down files

In [1]:
\c 30 150

/ Cluster: RDB_basictickdb_20230601
rdb_conn:":tcps://vpce-011b9e5db9449efe9-ssju6ad9.vpce-svc-0c382efe0ad012fe4.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-011b9e5db9449efe9-ssju6ad9.vpce-svc-0c382efe0ad012fe4.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCICO7s06H0ECz6v8Os%2FABdiH38OwYoGjBGpZ9I3wMNAxiAiBsmpe4BB8siuIkcTE4PsvRPFL9dIoaex4LfW4iA8mvGCqAAwjA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDYxMjg0MTM4MzU5NCIMHBgQI08LgkIj%2FX78KtQCGwsh6iwL226F0bRYUg0SLXJG0ajfiOFeYvAZSjesLu1HE14dX8KC20h2jAu68W5zVZ1yzdr1noZ0D3LWYTBmKZ5GkQgmuPxUDUTvukOBEkukthWhZTaMhj8bgnNr5DaofinnUsPtFjQgnyIIo%2BB8b6DE6iAZlK8W3TGEBIfVWzQJKwkGRF6wkLGlh6M6VY51SW36jEz1Agfqp2MqJTkgEaTgfX5FHBd%2Bv81WMABm1UK33Aw6mmSLiDYrkFuu0rZ1SPM0Hpn5xfyNVBm%2BNaNFGYzNxkO3w%2Bc7ctnapaONQki3FX8KzFsLdFoKTACeLG7XlUUtJjf0QMAYXIwZAjZfpEGKr22VjXSu793uBQfsB%2F4fCx3WBp416W55k5331iafUGy76XS2E4a2s1mLKtE5IE8deZXGMSJ1n%2BLaYgl%2BWtb0Qmw8Z82x0bZhytZ6CHWCNc29lzD%2B7eKjBjrAAbrHAPWom4ToSIad4UIwRc%2F7b4Z2lVCqgvg4lDwc6fGOfF0jHTcpDGKcO8jvbENypWNIY2yIqesvWkLqI%2BYjbQorAjiGal%2B9ts1OXJmhdQX49dCofgjsCoe1rVgy51y7t1vOLM%2BvO0L3BbMFDEHHap3JMXsV8elJH3oamrOcwAl3eZyl1eY4YuAYFqecFkIjNRky7%2FJ2L1xkjORzyg4PsvuCwRVG3DyqgJ8EBERgLfiSKjxmHbOwi0E7LrTYYrPI2Q%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T151926Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VGJ7QG5DX%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=8af92d8269f7b724317c120b7226e18f691bc2d119b6116095b17e7a90718abc" 

/ Cluster: HDB_basictickdb_20230601
hdb_conn:":tcps://vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIj%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIBW9gk8xskNsG%2FxAfIVhgZh7pHWFC3DxxrumjMmSpUmPAiEAwfcXKDqg%2FaPRiAKQXSawoMF%2Bc0Am3uRCDIMP1jlI3o4qgAMIwP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MTI4NDEzODM1OTQiDCLkaeEG3KWtu%2B7KZSrUAjpPJfoouUQxlqcdEfvcl%2BZEJ5MEJtiTYIcNVn0FMjwWywknbEdmkuDfuggoG%2BXhpwGvjp2zA9YgrhxJ9Mraii1b8zIehhxjYYUIaAYQ9aN3U1SepvSr55DPy2DoF%2BY36%2F%2BoninABi4Jgfh%2Bc9Ytn8F6qGWyMLs5XI812XeluufdTvie%2FJdHIhopSQ9ywwfy%2BmYN9YbK7bPW02aKqXSc9ZZI1S48PXnpXoG%2Bi9GqFyMvYKW4LNds97nynBlrHn4vyTyTIbJnZ3m%2FXvvoVkrYSOtXyjmah9%2BwvckAuwjQZ4id%2FWY9op3mz3sv5YQmmmuizt2t%2Bf4mUKRZL9HlZAtYgLTkZTajrYpRBdzcyxtNFK9X6rbczl4zp654myxgkBrhcrrkUVuA5Mdqsq9mE090iXEtMrzorWHRwNz7mhTrE2%2Fsf30v%2BiD%2B2u8A1M7saRtfJ8hC1fEw%2F%2B3iowY6vwFPW1f4joIx4gOcy2EI6CGPkU6VCOx1GhvtRWtyrrxJuWC1rOhPBs9QAWORGobrX3TDZGnrdqVCBAxWZPQShvReCpP7lNtocGfz5HAo7GVCrOarR6kVwWbsjRXGGd3xcFHc3Fgl6g5wyGIEmJ8QHbL0umCbwq8dtujnv%2Bg%2BBX%2BxICQ%2BIykr1hr51sDsY5XWHuF6HKfRAF09G7Mw1F2WgcEPdpASfct3b0WK7qu3Aa7fC4oD8V0aeP6J7iu3yOMs6Q%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T151927Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VIWMPZP7J%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=0423e8a1684bd7310efabf12a33ec9efe2d0398e6dfc1c9c7ab05e6106f232e0" 

/ database name
db_name:"basictickdb"

/ scratch path on clusters
scratch_path: "/opt/kx/app/scratch"

# RDB: New Data
RDB has been suscribing to data, will now save it.

## Steps
1/ Save table and sym locally   
2/ Savedown: add changeset to database

In [2]:
/ open connection to HDB cluster
rdb:hopen(`$rdb_conn)

/ ensure table exists
rdb "tables[]"

,`example

In [3]:
/ Schema
rdb (meta; `example)

/ Sample data in table
rdb "select [5] from example"

/ Size
"Rows: ", rdb "{reverse\",\"sv 0N 3#reverse string x}count example"

c     | t f a
------| -----
sym   | s
time  | p
number| j

sym time                          number
----------------------------------------
ecn 2023.06.01D14:39:56.817666429 43
kjb 2023.06.01D14:39:56.817666429 15
nni 2023.06.01D14:39:56.817666429 62
pka 2023.06.01D14:39:56.817666429 31
aem 2023.06.01D14:39:56.817666429 61

"Rows: 1,101,190"

### Step 1: Save table and sym locally

In [4]:
now:.z.z
new_dt:`date$now

/ set encryption?
/ .z.zd:(17;2;7) / set compression defaults

/ save the table and sym
date_dir: string[new_dt]

"Saving: ", date_dir
rdb ".Q.dpfts[`:", scratch_path,";", date_dir, ";`sym;`example;`sym]"

"Saving: 2023.06.01"

`example

### Step 2: Savedown: add changeset to database

a. Table of changes for the changset  
b. Create Changeset  
c. Wait for Changeset to be added

#### a. Table of changes for the changset

In [5]:
rdb "c_r:(`input_path`database_path`change_type!(\"", scratch_path, "/", date_dir, "/\";\"\/", date_dir, "/\";\"PUT\");
    `input_path`database_path`change_type!(\"", scratch_path, "/sym\";\"\/\";\"PUT\"));"

rdb "c_r"

input_path                        database_path  change_type
------------------------------------------------------------
"/opt/kx/app/scratch/2023.06.01/" "/2023.06.01/" "PUT"
"/opt/kx/app/scratch/sym"         "/"            "PUT"

#### b. Create Changeset

In [6]:
"Creating changeset for: ", db_name
res: rdb ".aws.create_changeset[\"", db_name ,"\";c_r]"
res

changeset_id: res.id

"Creating changeset for: basictickdb"

id    | "6MQ7xgjt29JRIm3iuzFPxg"
status| "PENDING"

In [7]:
res: rdb ".aws.get_changeset[\"", db_name, "\";\"", changeset_id, "\"]";
res

while [ not res.status like "COMPLETED";
    res: rdb ".aws.get_changeset[\"", db_name, "\";\"", changeset_id, "\"]";
    system "sleep 3";
    ]
res

id    | "6MQ7xgjt29JRIm3iuzFPxg"
status| "IN_PROGRESS"

id    | "6MQ7xgjt29JRIm3iuzFPxg"
status| "COMPLETED"

### Cleanup
Cleanup variables and scratch space.

In [8]:
rdb "tables[]"

`c_r`example

In [9]:
/ clean the scratch area
"Cleaning: ", scratch_path

rdb "system \" rm -rf /opt/kx/app/scratch/*\""

"Cleaning: /opt/kx/app/scratch"

In [10]:
/ remove tables
rdb "delete from `example"
rdb "delete c_r from `."

`example

`.

In [11]:
rdb "tables[]"
rdb "count example"

,`example

0

# HDB before Updates
Summary of HDB contents before updates are applied

In [12]:
/ open connection to HDB cluster
hdb:hopen(`$hdb_conn)

hdb "select counts:count i by date from example"
hdb "\"Rows: \", {reverse\",\"sv 0N 3#reverse string x}count example"

date      | counts
----------| -------
2023.04.14| 1000000
2023.04.15| 1000000
2023.04.16| 1000000
2023.04.17| 1000000
2023.04.18| 1000000
2023.04.19| 1000000
2023.04.20| 1000000
2023.04.21| 1000000
2023.04.22| 1000000
2023.04.23| 1000000
2023.05.31| 2795666

"Rows: 12,795,666"

# Update the HDB
From AWS CLI or python libraries, call the FinSpace service to update the cluster using the HDB to include the latest changeset. The cluster will go into an 'UPDATING' state until the changes are complete, 'RUNNING' state.

[update_HDB notebook](update_HDB.ipynb)

**Update the HDB's Database then return here**

In [12]:
pause("Now go to AWS Python notebook to update the cluster database!")

pause: pause

# Back to HDB
Connect to the HDB to validate the changes.

In [13]:
/ re-connect to HDB cluster

hdb:hopen(`$hdb_conn)

### Show Updated Table
The table will now reflect the added data, compare dates and counts to above, new date added, total rows increased.

In [14]:
hdb "select counts:count i by date from example"
hdb "\"Rows: \", {reverse\",\"sv 0N 3#reverse string x}count example"

date      | counts
----------| -------
2023.04.14| 1000000
2023.04.15| 1000000
2023.04.16| 1000000
2023.04.17| 1000000
2023.04.18| 1000000
2023.04.19| 1000000
2023.04.20| 1000000
2023.04.21| 1000000
2023.04.22| 1000000
2023.04.23| 1000000
2023.05.31| 2795666
2023.06.01| 1101190

"Rows: 13,896,856"

In [15]:
.z.z

2023.06.01T15:37:08.968