# BasicTick: End of Day (EOD) Processing
This notebook an example of an end of day (EOD) process that adds the contents of an RDB as a changeset to an HDB.

Instead of moving between python and q code this notebokk makes use of PyKX to do all its work with the RDB, HDB, and Gateway for end of day processing.

**RDB: Save Day's Data**
1. Save table and sym locally    
2. Savedown: add changeset to database    

**HDB: Update**
1. Update the Cluster's Database to New Changeset ID

**Gateway: Re-Connect**
1. Update the Database Connections

In [1]:
# scratch location 
scratch_path = "/opt/kx/app/scratch"

# clean rdb?
clear_rdb = True

In [2]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import os
import boto3
import json
import datetime

import pykx as kx

from managed_kx import *
from env_kdb_1 import *

from basictick_setup import *

In [3]:
# triggers credential get
session=None

try:
    # aws: use ada for credentials
    subprocess.call(["which", "ada"])
    os.system(f"ada credentials update --account={ACCOUNT_ID} --provider=isengard --role=Admin --once")
except: 
    None

if AWS_ACCESS_KEY_ID is None:
    print("Using Defaults ...")
    # create AWS session: using access variables
    session = boto3.Session()
else:
    print("Using variables ...")
    session = boto3.Session(
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        aws_session_token=AWS_SESSION_TOKEN
    )

# create finspace client
client = session.client(service_name='finspace', endpoint_url=ENDPOINT_URL)

Using variables ...

# Current State of HDB

In [4]:
# Query the HDB
hdb = get_pykx_connection(client, 
                          environmentId=ENV_ID, clusterName=HDB_CLUSTER_NAME, 
                          userName=KDB_USERNAME, boto_session=session)

# Dates and Counts
before_update_pdf = hdb("select counts:count i by date from example").pd()

# Number of Rows
before_rows = hdb("count example").py()

# RDB: Save Day's Data
1. Save table and sym locally   
2. Savedown: add changeset to database

In [5]:
# Connect to the RDB
rdb = get_pykx_connection(client, 
                          environmentId=ENV_ID, clusterName=RDB_CLUSTER_NAME, 
                          userName=KDB_USERNAME, boto_session=session)

In [6]:
# Dates and Counts
rdb_sample_pdf = rdb("select [-5] from example").pd()
rdb_rows = rdb("count example").py()

In [7]:
display(rdb_sample_pdf)
print(f"Rows: {rdb_rows:,}")

   sym                          time  number
0  oaa 2023-06-20 00:06:06.863033471      11
1  nep 2023-06-20 00:06:06.863033471      27
2  oph 2023-06-20 00:06:06.863033471       5
3  phj 2023-06-20 00:06:06.863033471      68
4  hei 2023-06-20 00:06:06.863033471      54

Rows: 795,786

## Step 1: Save table and sym locally

In [8]:
# date directory
today = datetime.date.today()

date_dir = today.strftime("%Y.%m.%d")

print( f"Saving to: {date_dir}" )
rdb( f".Q.dpfts[`:{scratch_path};{date_dir};`sym;`example;`sym]" )

Saving to: 2023.06.20

pykx.SymbolAtom(pykx.q('`example'))

## Step 2: Savedown: add changeset to database

a. Table of changes for the changset  
b. Create Changeset  
c. Wait for Changeset to be added

In [9]:
rdb(f"c_r:(`input_path`database_path`change_type!(\"{scratch_path}/{date_dir}\";\"/{date_dir}/\";\"PUT\");\
    `input_path`database_path`change_type!(\"{scratch_path}/sym\";\"/\";\"PUT\"));")

rdb("c_r").pd()

                          input_path    database_path change_type
0  b'/opt/kx/app/scratch/2023.06.20'  b'/2023.06.20/'      b'PUT'
1         b'/opt/kx/app/scratch/sym'             b'/'      b'PUT'

In [10]:
print(f"Creating changeset for: {DB_NAME}")

res = rdb(f".aws.create_changeset[\"{DB_NAME}\";c_r]")

CHANGESET_ID = str(res.get("id"))
print(f"ChangesetID: {CHANGESET_ID}")

Creating changeset for: basictickdb
ChangesetID: RMRrD7X1VuadyezYts40Rw

In [11]:
# wait for ingestion
wait_for_changeset_status(client, environmentId=ENV_ID, databaseName=DB_NAME, changesetId=CHANGESET_ID, show_wait=True)
print("** Done **")

Status is IN_PROGRESS, total wait 0:00:00, waiting 10 sec ...
** Done **

### Optional: Clean up RDB
Optionally clean up by deleting files created and clear the example table.

In [12]:
# clear the RDB
if clear_rdb:
    print(f"Cleaning: {scratch_path}")

    rdb(f"system \" rm -rf {scratch_path}/*\"")

    # remove tables
    rdb("delete from `example")
    rdb("delete c_r from `.")

Cleaning: /opt/kx/app/scratch

# HDB: Update
Update the cluster's database to new changeset.

In [13]:
DB_CONFIG=[{'databaseName': DB_NAME,
   'cacheConfigurations': [{'cacheType': 'CACHE_1000', 'dbPaths': ['/']}],
   'changesetId': CHANGESET_ID}]

resp=client.update_kx_cluster_databases(environmentId=ENV_ID, clusterName=HDB_CLUSTER_NAME, databases=DB_CONFIG)
resp

{'ResponseMetadata': {'RequestId': '3a00c8d2-146b-4948-9ab0-8af3058a23f9',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/json',
   'content-length': '2',
   'connection': 'keep-alive',
   'date': 'Tue, 20 Jun 2023 00:06:22 GMT',
   'x-amzn-requestid': '3a00c8d2-146b-4948-9ab0-8af3058a23f9',
   'x-amz-apigw-id': 'GyoLYF93IAMFjVA=',
   'x-amzn-trace-id': 'Root=1-6490ed7b-650ace231d7163db6fb9a0f6',
   'x-cache': 'Miss from cloudfront',
   'via': '1.1 06186860a5ea94b333945ca9761eb36c.cloudfront.net (CloudFront)',
   'x-amz-cf-pop': 'IAD55-P1',
   'x-amz-cf-id': 'ad_5_6m3pZQfbPqgnPOlTMvl0Ilya8LW9j1PdOsLtlDAM-H-sEAHfA=='},
  'RetryAttempts': 0}}

In [14]:
wait_for_cluster_status(client, environmentId=ENV_ID, clusterName=HDB_CLUSTER_NAME)
print("** Done **")

** Done **

# Gateway: Re-Connect
Using PyKX, connect to the Gateway cluster and have it re-connect to its Databases. Connection to the HDB would have been lost during the HDB update process.

In [15]:
# Connect to the Gateway with PyKX
gw = get_pykx_connection(client, 
                          environmentId=ENV_ID, clusterName=GW_CLUSTER_NAME, 
                          userName=KDB_USERNAME, boto_session=session)

In [16]:
# reinit the gateway, will re-connect to databases
gw("reinit[hdb_name; rdb_name]")

pykx.Identity(pykx.q('::'))

In [17]:
# Updated state of connected processes
display( gw("select process, handle, connected, address from .conn.procs").pd() )

,process,handle,connected,address
0,rdb,18,True,:ip-192-168-12-16.ec2.internal:5000:GATEWAY_basictickdb:Host=ip-192-168-12-16.ec2.internal&Port=5000&User=GATEWAY_basictickdb&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEEaCXVzLWVhc3QtMSJHMEUCIHGZkA2DAPUHFCCLVtELkWi2apqRDds2Oc2nCvNYrR73AiEAop6lG97HCpyz6ueAOth3qtp4FoRXLtqqScEWQGM2jeEqgAMImf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw4Mjk4NDU5OTg4ODkiDJBaFB5DwRMpWhruzirUAvOtFIRRq4jt5HPHF4b6grJsxyPc4O9zN3Ql7Gpf99b4SXtSfgXn0p8%2FwNjHsmB6SGLVqKZs2EJwZRB0A%2F9Zjr7R1ALoADNlONZjup9qR0PTgTZ0ovO8hEvAktT%2BxnkHvWQ1O%2BaBdaA74hj0MF9iT1zrsp8SvR6TvyRMSAq%2Fr6ouof2NudUsiUaZpHZbvQnhTZScCyOX96FVVzNL%2FEOndD%2Fbkln3bmGTESbGLzB6DvzP%2BICx3u8F9e4660y1NnLc77xqpU%2BZKTX4Sd8ZHH8ixNpnval29E5R1N6VhtvTqVY7cUunIjgwLb2%2B%2BYVxt1AU3IVlz69daf6PjTufc1V3xFyBZtk9%2BKHtJJX%2FXpJ%2BPZWFLEpnNgeNpamisoD5etOiIsp6gTU5bH1OT5Cm0Sno6N5HJYqI379nI8JAcNgrUS%2BD8aacI%2BquyoWQQ9zHNLr212%2Bm7vgw8%2BHDpAY6vwFPgwnWL1HHcEiPHDTRRUr8AkI9VflT%2F7v7tkeIPNEYHyfukpR8zF8PdRbHTQyTrHJNSb%2BIec3yw6q76VeVxgRGYpTTqRLHXr0VIYbK1ybz%2ByYLCgxOpgA6jkbrJ2nt1xxuebGYMDuO9%2FMIGxItLmbjk2HraCj%2Bqt9QeTPBGf%2Bh9GmN%2BM1tbPqIpGqKpAp21%2FKS4rttG7KygyR0pVsg%2Fd3bSQa%2BPbaUy6wnnJrOyHbikNE9elW368sd5D2BObHgdw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230620T002107Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIA4CNVNBUU6W66Z5MX%2F20230620%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=bd94a6d4c1b9aa0c1ed4095b34ae7bb166438286386c43c0ff04ba92e6b80c4d
1,hdb,19,True,:ip-192-168-3-211.ec2.internal:5000:GATEWAY_basictickdb:Host=ip-192-168-3-211.ec2.internal&Port=5000&User=GATEWAY_basictickdb&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEEaCXVzLWVhc3QtMSJHMEUCIGPzPZRiObp8Rg8kuuHsib0Ofw4FIUx5ne6pdDY2ASZnAiEAuOPxRssUzVY7HDylcqi1goL0Mj%2FhAtvR47FOA9zvXOYqgQMImf%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw4Mjk4NDU5OTg4ODkiDMjfeHynGltEGAvgWirVAqY0YOqVzYqZjeMP9dpyy4IHwV5mV84wCHx0ZkXZvM0AeeRBU4y5Or8nQrbE5N4LhfCrAoSsHOguUU%2BlnuiAN52oSI9jnkenCdtMpFmThxkZtL9Sd7knnqsZhJh4ZQ%2BwDBA0nOpNc6LcEACKDfK%2F5yFWynhuQ7wD0crsmQEM%2FOhPXiNCawuhOc%2BWsi6kaEoVrMD6r206ymWxZ%2F0CWMMbMt3EmR82iH%2BNS1zqQTbvmln0AKFrMz4X129oZQFg2ynVZyuVBhXfbuTm992Rfp9MdRemMRKnPf2RpM3v%2BF%2Ffa75Ha0C6vXzrBxzNXiY3ZRo%2B1sqjLTMhn%2BWNZyuD3dndacF4UOACBIKedPWGYwwCZt4Rnwt3Xy1UqFwWeAaPg3hPEp6pLtGriCU2tvN9DAFm0HLPwsQRVIj85rpTZHTtjEh7H%2F3kd%2BFkpaLCFOZWVb%2F%2BdbopL2JZMPThw6QGOr8BLfddVGOs5imT7vWC%2Bsf%2Bwjt4liMcq%2FMs0r2UqYSKwlXY6baAI038i2FVYSBWrDv5%2BWGY4kzH64AIuL475LFHK9vfbxIy9e%2F9b%2F6N3jc0JU75P5%2BCDbX5uQg6TeWZbdwFDxsLyQFvRgPVne8id6hwpFVtIoLS%2FK13GI%2FJrnkMuwt7t9l5b%2B%2FCKsmS7bg5uTTrFIGpFViMEpaky3TcvO4W9HGfA12rbkClTtNqKOHbpiM1dzxGyYJjiKWUUaFkQjg%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230620T002108Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIA4CNVNBUU25NSKQX2%2F20230620%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=ccb8263a6ff205766bbcec785f79b95790e14ba2a43540f5daf1be21a0fa303d
2,hdb,20,True,:ip-192-168-1-191.ec2.internal:5000:GATEWAY_basictickdb:Host=ip-192-168-1-191.ec2.internal&Port=5000&User=GATEWAY_basictickdb&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEEEaCXVzLWVhc3QtMSJIMEYCIQC9ZAiqFvvRS2T%2BvseFgqTPZNxhKV6LrHjR08V3Ld%2FzcAIhANlho3Ee3FpsjxaNsMH%2F52FKOIL2%2BTSErBmF1ZNPwrrRKoADCJn%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMODI5ODQ1OTk4ODg5IgxTnl2%2FCCrKLUtfMOcq1AK4Oe8sI6H4lE3NK5jU5ZznmztXQko1wC5rMmM2YRKw7Az3VilCiVR4%2BsMQ6Z7qZhyIlMkBfmQDEqZ0XYy8zFcfLsHAK3qSLkz%2BOw50DeCaDvOKyLvEvzO86RFd3WU5656UypcCHHHQYOWH5EXMpBYDCLUkMbMaiqBnDpCtOqyAuu9H0gL7jJky3tZFjCddDrzMT%2BX%2FFmAe3Ipm0UTNYKg6xMuGkoQSGeVaNZAvZXxOZoKOI%2FlXq7ZIc2YONRW9H54jy3bUTMk1HnMwd6RerKLmajCSLZq%2FsoDhEAhMZBzJfxsGN7WnWXAnH%2FIf1jqyReHhPfEfX756NPEJcMYAr4LsMLutUohDIVsjO%2FBd2%2B%2BhRPQlpeVt4MToQlEz9V045d1Jrh1NKgUGO%2FRyJi7waaALzbSusTlguSDd9E3GprDQzdbgFp2Fr1fVvGPCnqpFCynxpJzSMPThw6QGOr4Bv9iJuxtBhHLI5SAJ88%2FKmgZ06o2S%2B34H9%2B9Hsisi3ymceVr%2FsPocvv2tnlQkf5%2BX6ha2gCBGDE%2BAERSFisCqP35MRH66CPjuo4j%2F2s07QC7gI0C%2Fs0bxk0dBCOL6AsMF4%2FJptFgSH%2FuRAOE5xtytIIg72tErHdmLwkMCnfl%2FNoEjVqBnRernLUBbq3M2%2F0g2c%2FdqmUtIftbAXZfHufyTj%2FKAiPGfoIoRXnqbidAY1mAs9uNmwU0vYmeH8n322w%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230620T002108Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIA4CNVNBUU4B64VAOD%2F20230620%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=7a8c313cb545258b26afea0582170177d2b38a2611a00c711ff07ae4d979ea28

# HDB: Before and After
Dates and counts of the HDB before update and after.

In [18]:
# Query the HDB for after state
hdb = get_pykx_connection(client, 
                          environmentId=ENV_ID, clusterName=HDB_CLUSTER_NAME, 
                          userName=KDB_USERNAME, boto_session=session)

In [19]:
# Latest Dates and Counts
after_update_pdf = hdb("select counts:count i by date from example").pd()
after_rows = hdb("count example").py()

### Before

In [20]:
display(before_update_pdf)

# Number of Rows
print(f"Rows: {before_rows:,}")

             counts
date
2023-04-14  1000000
2023-04-15  1000000
2023-04-16  1000000
2023-04-17  1000000
2023-04-18  1000000
2023-04-19  1000000
2023-04-20  1000000
2023-04-21  1000000
2023-04-22  1000000
2023-04-23  1000000

Rows: 10,000,000

### After

In [21]:
display(after_update_pdf)

# Number of Rows
print(f"Rows: {after_rows:,}")

             counts
date
2023-04-14  1000000
2023-04-15  1000000
2023-04-16  1000000
2023-04-17  1000000
2023-04-18  1000000
2023-04-19  1000000
2023-04-20  1000000
2023-04-21  1000000
2023-04-22  1000000
2023-04-23  1000000
2023-06-20   795786

Rows: 10,795,786

In [22]:
print( f"Last Run: {datetime.datetime.now()}" )

Last Run: 2023-06-20 00:21:09.604090