# PyKX Example
Query tick data thru gateway from pyKX

**WORK IN PROGRESS, NOT COMPLETED**

In [1]:
import boto3
import json
import datetime

import pykx as kx

from managed_kx import *
from env2 import *

clusters = {
    "rdb_conn": "RDB_basictickdb_20230601",
    "hdb_conn": "HDB_basictickdb_20230601",
    "gw_conn" : "GATEWAY_20230601"
}

# where is the license from?
os.getenv("QHOME")

'/home/ec2-user/anaconda3/lib/python3.9/site-packages/pykx/lib'

In [2]:
# triggers credential get
session=None

try:
    # aws: use ada for credentials
    subprocess.call(["which", "ada"])
    os.system(f"ada credentials update --account={ACCOUNT_ID} --provider=isengard --role=Admin --once")
except: 
    None

if AWS_ACCESS_KEY_ID is None:
    print("Using Defaults ...")
    # create AWS session: using access variables
    session = boto3.Session()
else:
    print("Using variables ...")
    session = boto3.Session(
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        aws_session_token=AWS_SESSION_TOKEN
    )

# create finspace client
client = session.client(service_name='finspace', endpoint_url=ENDPOINT_URL)

Using variables ...

In [3]:
conns = {}

for k, v in clusters.items():
    try:
        conn_str = get_kx_connection_string(client, environmentId=ENV_ID, clusterName=v, userName=KDB_USERNAME, boto_session=session)
    except:
        conn_str = ""

    conns[k] = conn_str

In [4]:
conns

{'rdb_conn': ':tcps://vpce-011b9e5db9449efe9-ssju6ad9.vpce-svc-0c382efe0ad012fe4.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-011b9e5db9449efe9-ssju6ad9.vpce-svc-0c382efe0ad012fe4.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIH49%2Fdu%2FAOC2ZqRBlgzNAkriM8yxjmBiWESc0xIuB1R%2FAiEA0JHO7IXorpRLcbgbVupyRRKKc7n164tzR3XgGgAba3oqgAMIxP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MTI4NDEzODM1OTQiDHarf70ATvP9jNzT0CrUAqQGx24OMgNpqOisPiuwBllhkN8Cteik%2FReUMjXyXay2IVaRP4BSd3FJ%2FJAtVKMwLWvxf4iR%2BKZAMAHLHAaSHaCNEYAc7RMl0%2BJGRH6fPuDDhIkdYh%2BC2CtY089p8Mj9cuytZbVwW%2B6LkfVqIXxj0a9yMfLmBo016fLqjo3HBGK1wReb2Q23c9qhPppT1lGUeO8ccz6W938pWtEvAT6InND7MJH69UDk5TFocq7el05NlNdA76op8CBwqxLgyaCwKZqnsNBz4sPT4gEgUNEKWzz9u2iwz4nWOw0Xtobp03hRfMGj8j%2B5rWbmsWsuhFIzOmrSJoh1KMJQ%2FB32RrMZSVZghv3q%2FED%2Fr9MYy7yZzjTRcug8mQe8GGdwUOOe4Scqh6McJzyMZm%2BhJwGnJdhFBVpC6HuHQCzny%2FjgQ8OIaMPItuWM7OsSsIO12QOFdnNG1aVHwgQw59jjowY6vwGs1Uoi7eAS3RZ2Qb%2FMb8kJsY%2B6JdoN7fjnV1Obm9wRpfAjjWd3hYvsH4wxm0FMV2R0TIfxBail%2F0%2FTKHZn4B%2BYkU2w6lrMWUztxnCANL0CRSmyuI4FRVYmAQJBPQ6U57xlMsesGQLFGEHmMsoBDpK%2Bwe2yPphLoClxi6eXVWy9uB5Ae4HmwipBORr7yhGsJKvKT54MmDSe9xeqQlcr3%2FaK8SLyfVg%2FHaP0Vhbkt8mZwOXOO6jrkwWTpAj7wcbPxw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T190719Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VDQVKNRX3%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=5d8a2daa09bbbcef0ad84ca1543503442847b5ec87721b4e2a3aa5a6d8ac8c0f',
 'hdb_conn': ':tcps://vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-088aaeb956ebd6d92-l09z9oen.vpce-svc-038b591b42a835849.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIDmPq%2B%2BiklWaZqGAIYjYKrBLUwY%2B9lPINncf%2F0F5wKY4AiEAtU9flrrruaFZeJ7y9kgP8bIfdKF8XUjCblba%2B6Cp9NcqgAMIxP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MTI4NDEzODM1OTQiDEN7nvJmf2pL%2B1e2vCrUAp4jI6QaFRu%2B0KuvnKA5RnUAEPDcxgGihFyN4CRXWdgPrVgBxLnmy6rMfV0mscNe%2FcATdWRGu%2Fk32Zb8ZiSmE0gbny95ndlyF5K81xoa7H3mMawqVpuJFCTSwFFjmeFuBuE8BnlXYpTe33zT%2FDiUV%2Bfutm6xPo7Vy6SRnZBv2rOAGE3gWYWKBYZr3%2FaaohDljET4Z69M0ZLsi0DAWtH0Uy6iG7GW0tS7SwQPPryYUIi33NLBt7CoekozjW5hi7CKSzMuUVM5J6wGleFS0Nupi1xdmRHGx2YoP2lg59dzw4Mq16YbL7c7vjlQzeThC10gx8ljWnKbzAYV8jlEeQz774fzGyujjL9BZMbUHFQeaVEsZWusrxCa82RSLg4uKCTPOhcewnAfBXRmDLEouoP1AdeZYe3%2Fv%2BLC5Y7hgtNY9k20DHe0lKyTGicJkJbCICOIA7gxFw0w6NjjowY6vwErwnVh13TDM0D9dXUQoy3berXk2lh05Wurpvb6YToH2ElNdeTzYpqtaw%2B7IovhDBbiSO4JcBtdQ0HYGIH99GZHAQvHKGPf%2Blx3PhOC1vBk6gDFuCfAiMjBO0qB6YhJGN%2FZQPVb98QQgMwwkknE4NM%2BNhKjrN0SQnelvyGrkYg7MFQv8z%2Fu3GjE8Z5o6UiikD7UV4nPaCCyXlPmBXFXnMLG8G15hmXbGxhwg45MvWbEcu6wb0lcMFMVUmqZrLjzOA%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T190720Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VHHIKYOMM%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=14dc6c3de967293feffd779e49a6243cdd1a0f6cdaf16b691ad4d3550e3c7f89',
 'gw_conn': ':tcps://vpce-0d944f826c07ef733-2vvxlr7i.vpce-svc-0d09e3de8dc07dc10.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-0d944f826c07ef733-2vvxlr7i.vpce-svc-0d09e3de8dc07dc10.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEIz%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQChyMhSCQ%2FcF1cvXDwIsQ3qmDRYmPRPRUkbrCwNEkfptgIgdFefWRGMqMiOxcbS3azsjmakuN4I3o%2BNYLe7Rbv1wqAqgQMIxP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw2MTI4NDEzODM1OTQiDDWt3GJBNx2uSEUv3CrVAi5eWpXqw0Jyz1zW5PZwwCrCrihj%2BY0L19kPyrsZFV4%2BPopOhtdN74otpfbyF2uBPaHnXSmlj333sjBIqoGRuU3Y34GQlOH9kktkM0YycjWKCtq5SRsGcnfsj6Ltvu%2BgmN1Mkzgnk544kOwD7gEbJ%2Fb%2BjMN6inWMlm49qz7T0OOxYDAhiARcaP50XChIzN3eZqiZjDFVS%2FdJlb7IhdtJ0qszo%2FEG0m1QBWsuPb%2BM4CHEZeNqeVmTvlmreuFb190aDtc9ytts2MZyE%2F076LMETQcka51657u%2FlKujrscDUozUizUFWh8khZ60h8GA26bfEluhM7SUFXXXA6IsEU6D%2Bc25kypEOOg1trJmDxtO3rggmL7u3ITKRQlXBZhidTVkcO%2FNgetszz5wMZyv7g%2BodflyqCAWYG8DCa%2BwIRDRIBqjwkShC%2BA6AVFGEqy%2FH9xVnkwX5EBKMOnY46MGOr8B%2FHU6QBU5sI4SfI3ZdKMdayEZ%2BU8IGyGf6uS%2FcGyZELsyDLhYwXfQYvxcxbViUMCMdaO9tdsbrKKysFdprX2EiO6JSHrahwstS3l8rkDHj%2Ba4USEapj2NphTaGfoGY1LlUrZDFgTlzHeifhObH8JakqoPFbeIeJnhh64CNKhDyd%2F0XCDtXanXR4LG22l2NEv6AAdFAYSr4mi1Cf47HKEfkLzl%2FkBZqz2zBT4PqcInn%2FTfXiMX1i8r%2FKMCKpRkkag%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230601T190721Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VB4TR6BD7%2F20230601%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=f79aefd4568e5a03b6db1a83f3ccbe4f3ac71d6b92b3c920d5ab7b83e421941f'}

# Connect and Query

In [5]:
hdb_name = clusters['hdb_conn']

# Query the HDB
hdb = get_pykx_connection(client, 
                          environmentId=ENV_ID, clusterName=hdb_name, 
                          userName=KDB_USERNAME, boto_session=session)

In [6]:
hdb("tables[]").py()

['example']

In [7]:
# Tables
tables = hdb("tables[]").py()
print(f"Tables ({len(tables)}): {tables}")

# Schema
schema_pdf = hdb("meta `example").pd()
display(schema_pdf)

Tables (1): ['example']

           t f  a
c
date    b'd'
sym     b's'    p
time    b'p'
number  b'j'

In [8]:
# Simple Query
res_table = hdb("select counts:count i, avg_num: avg number by date from example").pd()
display(res_table)

# Number of Rows
rows = hdb("count example").py()
print(f"Rows: {rows:,}")

             counts        avg_num
date
2023-04-14  1000000  499800.464405
2023-04-15  1000000  499865.008159
2023-04-16  1000000  499912.379127
2023-04-17  1000000  500078.393386
2023-04-18  1000000  500264.684412
2023-04-19  1000000  499849.962912
2023-04-20  1000000  500082.257829
2023-04-21  1000000  500169.492354
2023-04-22  1000000  499903.047577
2023-04-23  1000000  500277.492790
2023-05-31  2795666      49.500199
2023-06-01  1101190      49.508914

Rows: 13,896,856