# Basic Tick: Query HDB
This notebook queries the HDB to show current contents.

In [7]:
\c 30 200

/ Cluster: RDB_basictickdb_20230606
rdb_conn:":tcps://vpce-0310a227da3f4106f-ytrczof9.vpce-svc-02fcaadcc8baf0e98.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-0310a227da3f4106f-ytrczof9.vpce-svc-02fcaadcc8baf0e98.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBwaCXVzLWVhc3QtMSJGMEQCIDS3HyKuHp3j5QZQ978J5woK8C0It8to6%2BzFMj7OORoSAiAs35ukhZ%2B7SmqR8EJObVVwP45PLq1BvfsIjvgKktOJzSr4AghlEAAaDDYxMjg0MTM4MzU5NCIMLnitLJEzt4DELwYYKtUCrTFtGhzJAX0YySfU7826qvmHFDEI5e8G%2BARBDH8CvzMXLVrKgFrs2xYDfd2Vy8DHBCRrybs9zlaP6%2BPOqAbXmE%2BmCsBBkpxluBRJO5gYVxolvuyq8zLxbRjsq6qjnsupTjbMZVOq%2B6Jvg%2BhccO6wxedNBOwkkwjkqxyXRW1sSeDzolssHPp3QoQoC5LxHbTKl9G2NCkZOOSfXJ0e9mw%2B%2FcpZqkZpyb%2FCOcRuvhkuePf%2Fdu3%2BdJ66II8BJtD7OAI2B5DNYJiQxgryWZEoTZUb0vdXIXDmoPaYWPwuxlgCXVAvxvlHwF%2F7b191mOznvQnu5Uv%2F%2FTCe1y8%2FXLlQG%2BTy%2FP%2BYKN4S%2B%2FAYpEFr%2BTxAc28ioxu9s0wNSzVljX%2BqhErPiALgDVxQzU2CSM2gw1FX5qMhe2WRKko8n9jBeUT5VrRVaEnKmRAqmp8T8xQP8cQZqt5%2BmEAwp7WDpAY6wAHZL4IwfWtvsMGGgJRNOPeJN9K9QXZZUOuFGhJx2AklvDq9yFTwK%2B17uYPi43Pmuq9adG8MninXH3pr%2FYZPd7BAES0Zb9FIHBgkxQ4V94h2qsopuWk7Uod5OsgF0xYLjpkNgKEw4I3EXxvSq47vh%2Bch3Hz0ID0%2FVgmbByE5C0G4Y270rv%2FfBPYLakJRX%2FznldaqZiqI0s4TXDrRJkXkco2riAmOnR1jOnFG9DRYUYfQFMe7E%2Br%2BWdVSWTzvUvPUJI0%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230607T192943Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VNJMAJKZX%2F20230607%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=fe59b7e48b0f5968001aa2e52d6afd035ca9c5fc893c8f6929045cc26405d224" 

/ Cluster: HDB_basictickdb_20230606
hdb_conn:":tcps://vpce-0068d49918a4a6915-ghv34ye9.vpce-svc-04c33288ea19562a3.us-east-1.vpce.amazonaws.com:443:bob:Host=vpce-0068d49918a4a6915-ghv34ye9.vpce-svc-04c33288ea19562a3.us-east-1.vpce.amazonaws.com&Port=5000&User=bob&Action=finspace%3AConnectKxCluster&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBwaCXVzLWVhc3QtMSJHMEUCIQCBFUsxAcydzW3JniI6cKWJ7M8QMyBja%2BiYMXEUFgji9AIgH05zI%2BmQCLU97h2nRO6DW3kruxWI0tGRrYHQ%2BjuA24Mq9wIIZRAAGgw2MTI4NDEzODM1OTQiDBSWxU4Lf6QCkRBv0SrUAnExU5PUY56KWGdcmiGvTz8F9dZ1BeAH1Ru9KR4MinKzfQnVKI04DYNLs%2BmGexrSXdPCVlmWvP7cht1G6mVVw4isrXNhKSJSRRYAfbvj1mpQQsZUdlbYWvrWyhdbSXBeU8gCRWPEMb39uJS2dBhucbW%2BayphEH%2FdD%2Bno9T1WtTjp3%2BTG%2FfIKHplbai%2F9EphPlc1U%2FJbCX7ZszpKBg9VdWCcE7jYfiVonhjKZZsv0Ne81w4OKlORHlO5e0uz2BRvHPgmraSvvqFU8T4wUlnnHX%2Byz88sZlmJbC4%2FkqkgHj6jCCgapBVHk%2F5Cxj%2BEIvETJJqA%2FrXtVujjKe5zuVhthtpOMo6H0KBnpKp17ni0e7MBiDvn%2BbYbykcOxYgcEKvpx%2BFmz4Nkp9ly0rfoeZUDMV0h6V%2Br7lTvk47GOaWNDOrPAW4qnD6OsFqUGyiFFpxnDju4DX%2FYwqLWDpAY6vwHLESCMu2JDmmqSY6B6FtS7K9h5NnIN%2Bt6drZ5QVZUuYqkOuPYJRKw1vC2bGuu2gs3Hk%2B9vmYkXFrcbDZoVsshhKs5y9eZ1oS%2FsDoWgfthLITNb89q9kMNs3DM3Zb5zAQgRAG9z8KLxBoeq3sv08QKkEq6rbwSrIO8ku2ziDvUynxLTQwC%2BSr3FWBQbjBuSHw1mz%2BW%2FX213L4G8Pbb9zQok64ftZ523lZjh1AWMu7EFi0gbrxyktt4pAyTLD8BdZw%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230607T192944Z&X-Amz-SignedHeaders=host&X-Amz-Expires=900&X-Amz-Credential=ASIAY5MBRM2VKXSOO2K3%2F20230607%2Fus-east-1%2Ffinspace-apricot%2Faws4_request&X-Amz-Signature=bac9bae7500550079818ec1e32198e078aea3ece33475b4257401ca4415a60e5" 

/ database
dbname: "basictickdb"

In [8]:
/ open connection to cluster
hdb:hopen(`$hdb_conn)

/ list the tables in the database
hdb "tables[]"

,`example

# Show Schema of Table: example

In [9]:
hdb (meta; `example)

c     | t f a
------| -----
date  | d
sym   | s   p
time  | p
number| j

In [11]:
hdb "select from example where date = max date"

date       sym time                          number
---------------------------------------------------
2023.05.31 aaa 2023.05.31D17:57:55.723638173 58
2023.05.31 aaa 2023.05.31D17:57:59.683636300 86
2023.05.31 aaa 2023.05.31D17:58:03.113646300 19
2023.05.31 aaa 2023.05.31D17:58:14.343640123 94
2023.05.31 aaa 2023.05.31D17:58:32.213640271 77
2023.05.31 aaa 2023.05.31D17:58:34.823641193 12
2023.05.31 aaa 2023.05.31D17:58:43.503640835 72
2023.05.31 aaa 2023.05.31D17:58:44.933638658 91
2023.05.31 aaa 2023.05.31D17:58:52.803641910 60
2023.05.31 aaa 2023.05.31D17:58:57.153637030 85
2023.05.31 aaa 2023.05.31D17:59:02.773641562 10
2023.05.31 aaa 2023.05.31D17:59:06.333635194 75
2023.05.31 aaa 2023.05.31D17:59:10.443636256 0
2023.05.31 aaa 2023.05.31D17:59:25.103641253 30
2023.05.31 aaa 2023.05.31D17:59:31.183641652 68
2023.05.31 aaa 2023.05.31D18:00:03.043642534 43
2023.05.31 aaa 2023.05.31D18:00:03.983642446 25
2023.05.31 aaa 2023.05.31D18:00:06.793640353 28
2023.05.31 aaa 2023.05.31D18:00:09.203637304 85
2023.05.31 aaa 2023.05.31D18:00:21.473639809 67
2023.05.31 aaa 2023.05.31D18:00:42.583642037 89
2023.05.31 aaa 2023.05.31D18:00:45.653640359 70
2023.05.31 aaa 2023.05.31D18:00:50.943645095 95
2023.05.31 aaa 2023.05.31D18:01:09.633644768 47
2023.05.31 aaa 2023.05.31D18:01:13.753643100 35
..

# Rows per Date

In [12]:
/ size of the table, by dates and total
hdb "select counts:count i by date from example"
hdb "\"Rows: \", {reverse\",\"sv 0N 3#reverse string x}count example"

date      | counts
----------| -------
2023.04.14| 1000000
2023.04.15| 1000000
2023.04.16| 1000000
2023.04.17| 1000000
2023.04.18| 1000000
2023.04.19| 1000000
2023.04.20| 1000000
2023.04.21| 1000000
2023.04.22| 1000000
2023.04.23| 1000000
2023.05.31| 2795666

"Rows: 12,795,666"

# Queries

In [13]:
\c 30 200

In [14]:
q:"select 
        number: avg number, 
        total: sum number, 
        first_num: first number, last_num: last number,
        min_num: min number, max_num: max number, 
        cnt: count number 
    by sym,date,5 xbar time.minute 
    from example 
    where date=min date,sym=`aaa"
hdb q

sym date       minute| number   total     first_num last_num min_num max_num cnt
---------------------| ---------------------------------------------------------
aaa 2023.04.14 23:15 | 487832.3 119031077 405034    11997    1881    992107  244

In [15]:
q:"select 
        number: avg number, 
        total: sum number, 
        first_num: first number, last_num: last number,
        min_num: min number, max_num: max number, 
        cnt: count number 
    by sym,date,5 xbar time.minute 
    from example 
    where date=max date,sym=`aaa"
hdb q

sym date       minute| number   total first_num last_num min_num max_num cnt
---------------------| -----------------------------------------------------
aaa 2023.05.31 17:55 | 55.8     837   58        68       0       94      15
aaa 2023.05.31 18:00 | 59.4186  2555  43        98       2       99      43
aaa 2023.05.31 18:05 | 55.83721 2401  81        2        1       99      43
aaa 2023.05.31 18:10 | 41.59459 1539  6         37       1       99      37
aaa 2023.05.31 18:15 | 51.59459 1909  35        27       1       99      37
aaa 2023.05.31 18:20 | 50.31579 1912  0         33       0       99      38
aaa 2023.05.31 18:25 | 45.31579 1722  20        2        1       99      38
aaa 2023.05.31 18:30 | 52.96667 1589  14        57       0       97      30
aaa 2023.05.31 18:35 | 53.51429 1873  45        90       10      96      35
aaa 2023.05.31 18:40 | 47.6     1190  90        51       0       90      25
aaa 2023.05.31 18:45 | 46.39474 1763  1         70       1       95      38
aaa 2023.05.31 18:50 | 50       1750  74        56       9       97      35
aaa 2023.05.31 18:55 | 39.38889 1418  53        33       0       98      36
aaa 2023.05.31 19:00 | 58.44118 1987  26        65       4       98      34
aaa 2023.05.31 19:05 | 47.69697 1574  87        91       1       95      33
aaa 2023.05.31 19:10 | 51.64103 2014  86        12       2       99      39
aaa 2023.05.31 19:15 | 54.08824 1839  62        90       1       99      34
aaa 2023.05.31 19:20 | 47.96    1199  95        18       9       98      25
aaa 2023.05.31 19:25 | 43.39474 1649  7         64       0       95      38
aaa 2023.05.31 19:30 | 46.66667 1540  8         30       2       95      33
aaa 2023.05.31 19:35 | 50.85185 1373  32        83       14      98      27
aaa 2023.05.31 19:40 | 40.6     203   5         66       5       84      5

In [16]:
q:"select 
        number: avg number, 
        total: sum number, 
        first_num: first number, last_num: last number,
        min_num: min number, max_num: max number, 
        cnt: count number 
    by sym,date,5 xbar time.minute 
    from example 
    where date=max date,sym in `aaa`bbb`ccc"
hdb q

sym date       minute| number   total first_num last_num min_num max_num cnt
---------------------| -----------------------------------------------------
aaa 2023.05.31 17:55 | 55.8     837   58        68       0       94      15
aaa 2023.05.31 18:00 | 59.4186  2555  43        98       2       99      43
aaa 2023.05.31 18:05 | 55.83721 2401  81        2        1       99      43
aaa 2023.05.31 18:10 | 41.59459 1539  6         37       1       99      37
aaa 2023.05.31 18:15 | 51.59459 1909  35        27       1       99      37
aaa 2023.05.31 18:20 | 50.31579 1912  0         33       0       99      38
aaa 2023.05.31 18:25 | 45.31579 1722  20        2        1       99      38
aaa 2023.05.31 18:30 | 52.96667 1589  14        57       0       97      30
aaa 2023.05.31 18:35 | 53.51429 1873  45        90       10      96      35
aaa 2023.05.31 18:40 | 47.6     1190  90        51       0       90      25
aaa 2023.05.31 18:45 | 46.39474 1763  1         70       1       95      38
aaa 2023.05.31 18:50 | 50       1750  74        56       9       97      35
aaa 2023.05.31 18:55 | 39.38889 1418  53        33       0       98      36
aaa 2023.05.31 19:00 | 58.44118 1987  26        65       4       98      34
aaa 2023.05.31 19:05 | 47.69697 1574  87        91       1       95      33
aaa 2023.05.31 19:10 | 51.64103 2014  86        12       2       99      39
aaa 2023.05.31 19:15 | 54.08824 1839  62        90       1       99      34
aaa 2023.05.31 19:20 | 47.96    1199  95        18       9       98      25
aaa 2023.05.31 19:25 | 43.39474 1649  7         64       0       95      38
aaa 2023.05.31 19:30 | 46.66667 1540  8         30       2       95      33
aaa 2023.05.31 19:35 | 50.85185 1373  32        83       14      98      27
aaa 2023.05.31 19:40 | 40.6     203   5         66       5       84      5
bbb 2023.05.31 17:55 | 41.76923 543   37        67       2       89      13
bbb 2023.05.31 18:00 | 48.92593 1321  9         55       9       95      27
bbb 2023.05.31 18:05 | 46.73171 1916  69        42       2       92      41
..

In [17]:
.z.z

2023.06.01T14:38:18.127