# Get Database

In [1]:
# just one database
DB_NAME="welcomedb"

In [2]:
import os
import boto3
import json
import datetime

from managed_kx import *
from env2 import *

In [3]:
# triggers credential get
session=None

try:
    subprocess.call(["which", "ada"])
    os.system(f"ada credentials update --account={ACCOUNT_ID} --provider=isengard --role=Admin --once")
except: 
    None

if AWS_ACCESS_KEY_ID is None:
    print("Using Defaults ...")
    # create AWS session: using access variables
    session = boto3.Session()
else:
    print("Using variables ...")
    session = boto3.Session(
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        aws_session_token=AWS_SESSION_TOKEN
    )

# create finspace client
client = session.client(service_name='finspace', endpoint_url=ENDPOINT_URL)

Using variables ...

# Database Details

In [4]:
dump_database(client, ENV_ID, DB_NAME)

print( f"Last Run: {datetime.datetime.now()}" )

====================================================================================================
Database: welcomedb, Changesets:
Welcome kdb database
Bytes: 34,526,532 Changesets: 1 Files: 41
----------------------------------------------------------------------------------------------------

,changesetId,createdTimestamp,activeFromTimestamp,lastModifiedTimestamp,status
0,VsQ3bsYloWVaDQSZp7fWmw,2023-05-30 22:53:13.165000+00:00,2023-05-30 22:53:20.534000+00:00,2023-05-30 22:53:13.165000+00:00,COMPLETED

Last Run: 2023-05-30 23:15:46.485233