# List Databases

In [1]:
import os
import boto3
import json
import datetime

from managed_kx import *
from env_2 import *

In [2]:
# triggers credential get
session=None

try:
    subprocess.call(["which", "ada"])
    os.system(f"ada credentials update --account={ACCOUNT_ID} --provider=isengard --role=Admin --once")
except: 
    None

if AWS_ACCESS_KEY_ID is None:
    print("Using Defaults ...")
    # create AWS session: using access variables
    session = boto3.Session()
else:
    print("Using variables ...")
    session = boto3.Session(
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        aws_session_token=AWS_SESSION_TOKEN
    )

# create finspace client
client = session.client(service_name='finspace', endpoint_url=ENDPOINT_URL)

Using variables ...

# Databases

In [3]:
db_list = list_kx_databases(client, environmentId=ENV_ID)
db_list = sorted(db_list, key=lambda d: d['databaseName']) 

db_pdf = pd.DataFrame.from_dict(db_list).style.hide(axis='index')
display(db_pdf)

# Databases and Changesets

In [4]:
for d in db_list:
    db_name = d['databaseName']
    dump_database(client, ENV_ID, db_name)
    
print( f"Last Run: {datetime.datetime.now()}" )

====================================================================================================
Database: TAQ_2021H1, Changesets:
TAQ kdb database
Bytes: 1,635,996,702,039 Changesets: 5 Files: 993
----------------------------------------------------------------------------------------------------

,changesetId,createdTimestamp,activeFromTimestamp,lastModifiedTimestamp,status
0,wsQ3ccETqSvyo9ldBuoyYw,2023-05-30 22:59:43.785000+00:00,2023-05-30 23:00:25.586000+00:00,2023-05-30 22:59:43.785000+00:00,COMPLETED
1,GMQ3cVlvvAwrhUzCYFb2BA,2023-05-30 22:58:50.724000+00:00,2023-05-30 22:59:33.829000+00:00,2023-05-30 22:58:50.724000+00:00,COMPLETED
2,5sQ3cMgxGMuyNyuiApXwsA,2023-05-30 22:57:36.358000+00:00,2023-05-30 22:58:43.211000+00:00,2023-05-30 22:57:36.358000+00:00,COMPLETED
3,mMQ3cDd7XJcOecX6Sq9XJw,2023-05-30 22:56:22.267000+00:00,2023-05-30 22:57:23.423000+00:00,2023-05-30 22:56:22.267000+00:00,COMPLETED
4,9MQ3b89NSnY6pXQhLVIkNA,2023-05-30 22:55:28.927000+00:00,2023-05-30 22:56:18.094000+00:00,2023-05-30 22:55:28.927000+00:00,COMPLETED

====================================================================================================
Database: TAQ_2021_2D, Changesets:
TAQ kdb database
Bytes: 23,554,923,456 Changesets: 1 Files: 17
----------------------------------------------------------------------------------------------------

,changesetId,createdTimestamp,activeFromTimestamp,lastModifiedTimestamp,status
0,xMQ3b0Sr31twz2fuQCjxdQ,2023-05-30 22:54:17.944000+00:00,2023-05-30 22:55:06.006000+00:00,2023-05-30 22:54:17.944000+00:00,COMPLETED

====================================================================================================
Database: create_delete_db, Changesets:
Welcome kdb database
Bytes: 34,526,532 Changesets: 3 Files: 41
----------------------------------------------------------------------------------------------------

,changesetId,createdTimestamp,activeFromTimestamp,lastModifiedTimestamp,status
0,vsQ3bBP9NEmjohJ0F2hW5g,2023-05-30 22:47:19.805000+00:00,2023-05-30 22:47:50.346000+00:00,2023-05-30 22:47:19.805000+00:00,COMPLETED
1,8sQ3XgXSa87YOIKc5sIgLw,2023-05-30 22:16:42.534000+00:00,2023-05-30 22:16:50.670000+00:00,2023-05-30 22:16:42.534000+00:00,COMPLETED
2,nsQ3XGgWIomChGVdUkzS6A,2023-05-30 22:13:05.710000+00:00,2023-05-30 22:13:27.077000+00:00,2023-05-30 22:13:05.710000+00:00,COMPLETED
3,zMQ3Wtj34piBnRT4SoeDsw,2023-05-30 22:09:41.361000+00:00,NaT,2023-05-30 22:09:41.361000+00:00,FAILED

====================================================================================================
Database: welcomedb, Changesets:
Welcome kdb database
Bytes: 34,526,532 Changesets: 1 Files: 41
----------------------------------------------------------------------------------------------------

,changesetId,createdTimestamp,activeFromTimestamp,lastModifiedTimestamp,status
0,VsQ3bsYloWVaDQSZp7fWmw,2023-05-30 22:53:13.165000+00:00,2023-05-30 22:53:20.534000+00:00,2023-05-30 22:53:13.165000+00:00,COMPLETED

Last Run: 2023-05-30 23:15:12.584851